@use "../abstract/function.scss" as func;
.btn{
    padding: 0.8rem 1.6rem;
    border-radius: 6px;
    line-height: 1;
    font-size: 0.9rem;
    border: none;
    outline: none;
    font-weight: 600;
    display: inline-block;
    &-primary {
        background-color: func.theme-colors("primary");
        color: #fff;
        &:hover {
            background-color: func.theme-colors("primary-hover");;
        }
    }
}