.hero-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 20rem;

    &--contents {
        max-width: 34rem;
    }
    &--title {
        font-size: 3rem;
        font-weight: 600;
    }
    &--desc {
        font-size: 1.2rem;
        margin-top: 2rem;
        line-height: 1.8;
        color: grey;
    }
}